<nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">
            PLAYER ONE
            <img class="logo_navbar" src="/img/GamePadModern1.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-light fw-bold" aria-current="page" [routerLink]="['/']">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light fw-bold" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/categoria', 'Nintendo']">Nintendo/SNES</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/categoria', 'PlayStation']">PlayStation</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/categoria', 'Sega']">Sega</a></li>
                        <!-- <li><a class="dropdown-item" [routerLink]="['/categoria', 'Accesorios']">Accesorios</a></li> -->
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light fw-bold" [routerLink]="['/contacto']">Contacto</a>
                </li>
            </ul>

            <!-- Botón de Acceder en el navbar -->
            <div class="ms-auto" id="navbar_perfil">
                @if (usuario()) {
                <a [routerLink]="['/perfil-usuario']" class="btn btn-light fw-bold me-2">Perfil</a>
                }
                @else {
                <a [routerLink]="['/login']" class="btn btn-light fw-bold me-2">Acceder</a>
                }
                <a [routerLink]="getAdminRoute()" class="btn btn-warning fw-bold me-2">ADMIN</a> <!--  NUEVO -->
            </div>

            <!-- ícono del carrito con cantidad -->
            <div class="mt-2 me-2">
                <a [routerLink]="['/carrito-compras']" class="btn position-relative">
                    <mat-icon class="text-light">shopping_cart</mat-icon>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ carritoSrv.totalCantidadProductos() }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>